# Gradle
.gradle/
build/
out/
classes/

# Eclipse
.settings/
.metadata/
.classpath
.project
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Minecraft
run/
logs/

# Generated
src/generated/
